@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }


  hr {
  
    overflow: visible;
    padding: 0;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right,
        rgba(138, 255, 196, 0),
        rgba(138, 255, 196, 0.75),
        rgba(138, 255, 196, 0));
    text-align: center;
  }
  
  hr.logo:after {
    content: " ";
    display: inline-block;
    position: relative;
    top: -1.02em;
    font-size: 1.5em;
    padding: 19px 1.75em;
    background: url(../assets/calendar64.png) no-repeat scroll center;
    background-size: 15px 15px;
    height: 50px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee Inline', cursive;
    color: rgba(115,225,197,255);
  }
  
  body {
    font-family: 'Cardo', sans-serif;
    font-size: 16px;
  }
  
}
